fastapi
uvicorn
requests
python-dotenv
sqlalchemy
psycopg2-binary
passlib[bcrypt]
pydantic
langchain
langchain-core
langchain-community
langchain-groq
langgraph
python-dotenv
sqlalchemy
uvicorn
psycopg2-binary==2.9.9
