fastapi
uvicorn
requests
python-jose[cryptography]
python-dotenv
sqlalchemy
psycopg2-binary==2.9.9
passlib[bcrypt]
pydantic
langchain
langchain-core
langchain-community
langchain-groq
langgraph
email-validator